  <!-- Works Section Start -->
  <section class="works section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="section-title">How It Works?</h3>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12">
          <div class="works-item">
            <div class="icon-box">
              <i class="lni-users"></i>
            </div>
            <p>Create an Account</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12">
          <div class="works-item">
            <div class="icon-box">
              <i class="lni-bookmark-alt"></i>
            </div>
            <p>Post Free Ad</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12">
          <div class="works-item">
            <div class="icon-box">
              <i class="lni-thumbs-up"></i>
            </div>
            <p>Deal Done</p>
          </div>
        </div>
        <hr class="works-line">
      </div>
    </div>
  </section>
  <!-- Works Section End -->

  <!-- Services Section Start -->
  <section class="services bg-light section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="section-title">Key Features</h3>
        </div>
        <!-- Services item -->
        <div class="col-md-6 col-lg-4 col-xs-12">
          <div class="services-item wow fadeInRight" data-wow-delay="0.2s">
            <div class="icon">
              <i class="lni-leaf"></i>
            </div>
            <div class="services-content">
              <h3><a href="#">Elegant Design</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis.</p>
            </div>
          </div>
        </div>
        <!-- Services item -->
        <div class="col-md-6 col-lg-4 col-xs-12">
          <div class="services-item wow fadeInRight" data-wow-delay="0.4s">
            <div class="icon">
              <i class="lni-display"></i>
            </div>
            <div class="services-content">
              <h3><a href="#">Responsive Design</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis.</p>
            </div>
          </div>
        </div>
        <!-- Services item -->
        <div class="col-md-6 col-lg-4 col-xs-12">
          <div class="services-item wow fadeInRight" data-wow-delay="0.6s">
            <div class="icon">
              <i class="lni-color-pallet"></i>
            </div>
            <div class="services-content">
              <h3><a href="#">Clean UI</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis.</p>
            </div>
          </div>
        </div>
        <!-- Services item -->
        <div class="col-md-6 col-lg-4 col-xs-12">
          <div class="services-item wow fadeInRight" data-wow-delay="0.8s">
            <div class="icon">
              <i class="lni-emoji-smile"></i>
            </div>
            <div class="services-content">
              <h3><a href="#">UX Friendly</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis.</p>
            </div>
          </div>
        </div>
         <!-- Services item -->
        <div class="col-md-6 col-lg-4 col-xs-12">
          <div class="services-item wow fadeInRight" data-wow-delay="1s">
            <div class="icon">
              <i class="lni-pencil-alt"></i>
            </div>
            <div class="services-content">
              <h3><a href="#">Easily Customizable</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis.</p>
            </div>
          </div>
        </div>
         <!-- Services item -->
        <div class="col-md-6 col-lg-4 col-xs-12">
          <div class="services-item wow fadeInRight" data-wow-delay="1.2s">
            <div class="icon">
              <i class="lni-headphone-alt"></i>
            </div>
            <div class="services-content">
              <h3><a href="#">Security Support</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Services Section End -->

  <!-- Pricing section Start --> 
  <section id="pricing-table" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="section-title">Pricing Plan</h2>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="table">
            <div class="icon">
              <i class="lni-gift"></i>
            </div>
            <div class="pricing-header">
              <p class="price-value">$29</p>
            </div>
            <div class="title">
              <h3>Basic</h3>
            </div>
            <ul class="description">
              <li>Free ad posting</li>
              <li>No Featured ads availability</li>
              <li>Access to limited features</li>
              <li>For 30 days</li>
              <li>100% Secure!</li>
            </ul>
            <button class="btn btn-common">Purchase</button>
          </div> 
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="table" id="active-tb">
            <div class="icon">
              <i class="lni-leaf"></i>
            </div>
            <div class="pricing-header">
                <p class="price-value">$49</p>
             </div>
            <div class="title">
              <h3>Standard</h3>
            </div>
            <ul class="description">
              <li>Free ad posting</li>
              <li>10 Featured ads availability</li>
              <li>Access to unlimited features</li>
              <li>For 30 days</li>
              <li>100% Secure!</li>
            </ul>
            <button class="btn btn-common">Purchase</button>
         </div> 
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="table">
            <div class="icon">
              <i class="lni-layers"></i>
            </div>
             <div class="pricing-header">
                <p class="price-value">$69</p>
             </div>
            <div class="title">
              <h3>Premium</h3>
            </div>
            <ul class="description">
              <li>Free ad posting</li>
              <li>100 Featured ads availability</li>
              <li>Access to unlimited features</li>
              <li>For 30 days</li>
              <li>100% Secure!</li>
            </ul>
            <button class="btn btn-common">Purchase</button>
          </div> 
        </div>
      </div>
    </div>
  </section>
  <!-- Pricing Table Section End -->

  <!-- Testimonial Section Start -->
  <section class="testimonial section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div id="testimonials" class="owl-carousel">
            <div class="item">
              <div class="img-thumb">
                <img src="assets/img/testimonial/img1.png" alt="">
              </div>
              <div class="testimonial-item">
                <div class="content">
                  <p class="description">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed eniminim veniam quis nostrud exercition eullamco laborisaa, Eiusmod tempor incidiunt labore velit dolore magna.</p>
                  <div class="info-text">
                    <h2><a href="#">Josh Rossi</a></h2>
                    <h4><a href="#">CEO of Fiverr</a></h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="item">
                <div class="img-thumb">
                  <img src="assets/img/testimonial/img2.png" alt="">
                </div>
                <div class="testimonial-item">
                  <div class="content">
                    <p class="description">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed eniminim veniam quis nostrud exercition eullamco laborisaa, Eiusmod tempor incidiunt labore velit dolore magna.</p>
                    <div class="info-text">
                      <h2><a href="#">Jessica</a></h2>
                      <h4><a href="#">CEO of Dropbox</a></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="item">
                <div class="img-thumb">
                  <img src="assets/img/testimonial/img3.png" alt="">
                </div>
                <div class="testimonial-item">
                  <div class="content">
                    <p class="description">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed eniminim veniam quis nostrud exercition eullamco laborisaa, Eiusmod tempor incidiunt labore velit dolore magna.</p>
                    <div class="info-text">
                      <h2><a href="#">Johnny Zeigler</a></h2>
                      <h4><a href="#">CEO of Fiverr</a></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="item">
                <div class="img-thumb">
                  <img src="assets/img/testimonial/img4.png" alt="">
                </div>
                <div class="testimonial-item">
                  <div class="content">
                    <p class="description">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed eniminim veniam quis nostrud exercition eullamco laborisaa, Eiusmod tempor incidiunt labore velit dolore magna.</p>
                    <div class="info-text">
                      <h2><a href="#">Josh Rossi</a></h2>
                      <h4><a href="#">CEO of Fiverr</a></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="item">
                <div class="img-thumb">
                  <img src="assets/img/testimonial/img5.png" alt="">
                </div>
                <div class="testimonial-item">
                  <div class="content">
                    <p class="description">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed eniminim veniam quis nostrud exercition eullamco laborisaa, Eiusmod tempor incidiunt labore velit dolore magna.</p>
                    <div class="info-text">
                      <h2><a href="#">Priyanka</a></h2>
                      <h4><a href="#">CEO of Dropbox</a></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Testimonial Section End -->
