<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <h3 class="text-center">View Profile</h3>
    <table class="table table-bordered">
      <tr>
        <th>Name</th>
        <td>{{profile.name}}</td>
      </tr>
      <tr>
        <th>Mobile No</th>
        <td>{{profile.mobile}}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{profile.email}}</td>
      </tr>
      <tr>
        <th>Password</th>
        <td>{{profile.password}}</td>
      </tr>
      <tr>
        <th>Address </th>
        <td>{{profile.address}}</td>
      </tr>
      <tr>
        <td colspan="2" class="text-center">
          <a routerLink="../editprofile" class="btn btn-warning">Edit Profile </a>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-sm-3"></div>
</div>