<div class="row">
  <div class="col-sm-12">
    <h3 class="text-center">Dashboard</h3>
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-4">
    <div class="text-center well ">
      <h4>Total Responses</h4>
        ({{totalresponse}})
    </div>
  </div>

  <div class="col-sm-4">
      <div class="text-center well ">
        <h4>Total Query / Contact</h4>
          ({{totalcontact}})
      </div>
    </div>

    <div class="col-sm-4">
        <div class="text-center well ">
          <h4>Total City</h4>
            ({{totalcity}})
        </div>
      </div>

</div><!--row ended-->

<div class="row form-group">
    <div class="col-sm-4">
      <div class="text-center well ">
        <h4>Total Category</h4>
          ({{totalcat}})
      </div>
    </div>
  
    <div class="col-sm-4">
        <div class="text-center well ">
          <h4>Total Products</h4>
            ({{totalproducts}})
        </div>
      </div>
  
      <div class="col-sm-4">
          <div class="text-center well ">
            <h4>Total Clients</h4>
              ({{totalclient}})
          </div>
        </div>
  
  </div><!--row ended-->
