 <!-- Blog Section -->
 <section id="blog" class="section-padding">
  <!-- Container Starts -->
  <div class="container">
    <h2 class="section-title">
      Blog Post
    </h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
        <!-- Blog Item Starts -->
        <div class="blog-item-wrapper">
          <div class="blog-item-img">
            <a href="single-post.html">
              <img src="assets/img/blog/img-1.jpg" alt="">
            </a>                
          </div>
          <div class="blog-item-text">
            <div class="meta-tags">
              <span class="user float-left"><a href="#"><i class="lni-user"></i> Posted By Admin</a></span>
              <span class="date float-right"><i class="lni-calendar"></i> 24 May, 2018</span>
            </div>
            <h3>
              <a href="single-post.html">Recently Launching Our Iphone X</a>
            </h3>
            <p>
            Reprehenderit nemo quod tempore doloribus ratione distinctio quis quidem vitae sunt reiciendis, molestias omnis soluta.
            </p>
            <a href="single-post.html" class="btn btn-common">Read More</a>
          </div>
        </div>
        <!-- Blog Item Wrapper Ends-->
      </div>

      <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
        <!-- Blog Item Starts -->
        <div class="blog-item-wrapper">
          <div class="blog-item-img">
            <a href="single-post.html">
              <img src="assets/img/blog/img-2.jpg" alt="">
            </a>                
          </div>
          <div class="blog-item-text">
            <div class="meta-tags">
              <span class="user float-left"><a href="#"><i class="lni-user"></i> Posted By Admin</a></span>
              <span class="date float-right"><i class="lni-calendar"></i> 24 May, 2018</span>
            </div>
            <h3>
              <a href="single-post.html">How to get more ad views</a>
            </h3>
            <p>
            Reprehenderit nemo quod tempore doloribus ratione distinctio quis quidem vitae sunt reiciendis, molestias omnis soluta.
            </p>
            <a href="single-post.html" class="btn btn-common">Read More</a>
          </div>
        </div>
        <!-- Blog Item Wrapper Ends-->
      </div>

      <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
        <!-- Blog Item Starts -->
        <div class="blog-item-wrapper">
          <div class="blog-item-img">
            <a href="single-post.html">
              <img src="assets/img/blog/img-3.jpg" alt="">
            </a>                
          </div>
          <div class="blog-item-text">
            <div class="meta-tags">
              <span class="user float-left"><a href="#"><i class="lni-user"></i> Posted By Admin</a></span>
              <span class="date float-right"><i class="lni-calendar"></i> 24 May, 2018</span>
            </div>
            <h3>
              <a href="single-post.html">Writing a better product description</a>
            </h3>
            <p>
             Reprehenderit nemo quod tempore doloribus ratione distinctio quis quidem vitae sunt reiciendis, molestias omnis soluta.
            </p>
            <a href="single-post.html" class="btn btn-common">Read More</a>
          </div>
        </div>
        <!-- Blog Item Wrapper Ends-->
      </div>
    </div>
  </div>
</section>
<!-- blog Section End -->